.pList{
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 15px;
}

.pListItem{
    cursor: pointer;
}

.pListImg{
    border-radius: 5px;
    width: 100%;
    object-fit: cover;
}

.pListTitle h1{
    font-size: 20px;
    margin-bottom: 1px;
}

.pListTitle p{
    font-size: 15px;
    color: gray;
    margin-top: 1px;
}