.header{
    height: 90px;
    background-color: #003580;
    color: white;
    display: flex;
    justify-content: center;
}

.headContainer{
    margin-top: 20px;
    padding: 12px;
    width: 100%;
    max-width: 1145px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.head-listItem{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 25px;
    border: none;
    padding: 1%;
    margin: 0.5%;
    background-color: #003580;
    color: white;
    cursor: pointer;
    transition-duration: 0.4s;
    font-size: 1rem;
    line-height: 12px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.head-listItem.active{
    border: 1px solid;
}

.head-listItem:hover{
    border-radius: 25px;
    background-color: #0d54b7;
}