.navbar{
    background-color: #003580;
    color: white;
    height: 60px;
    display: flex;
    justify-content: center;
}

.navContainer{
    margin: 20px;
    padding: 12px;
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-weight: 700;
    font-size: 1.65rem;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

/* .country{
    font-weight: 400;
    font-size: 1rem;
    padding: 1%;
}

.country-img{
    border-radius: 50%;
    padding: 1%;
}

.help{
    padding: 1%;
}

.list{
    padding: 1%;
} */

/* .navItems{

} */

.navbutton{
    padding: 8px;
    color: #0654c1;
    cursor: pointer;
    margin: 5px 10px;
    font-weight: 550;
    line-height: 1.5;
    background-color: white;
}

